
/* globalStyle(`${shirtContainer}:hover ${description}`,{
    transform:'translateY(0)',
}) */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark);
    color: var(--gray100);
    overflow: hidden;
}

.swiper-button-prev, .swiper-button-next{
    color: var(--gray100) !important;
}